@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
  --primary: #1D3564;
  --secondary: #FFA500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Jakarta: var(--font-Plus-Jakarta-sans);
  --font-manrope: var(--font-manrope-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
} */

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background: #fff;
  opacity: 0.5;
  border: 1px solid #ccc !important;
}

.swiper-pagination-bullet-active {
  width: 36px !important;
  height: 14px !important;
  background: #fff !important; 
  opacity: 1;
  border-radius: 25px !important;
  border: 1px solid #ccc !important;
}

@keyframes countrySlide {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-country {
  animation: countrySlide .6s cubic-bezier(.22,1,.36,1);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade .8s ease;
}

@keyframes form {
  from {
    opacity: 0;
    transform: translateX(60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-form {
  animation: form .8s ease;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.zoom-icon{
  animation: scaleUp 1.25s linear infinite;
}

@keyframes scaleUp {
0% {
    transform: scale(1);
}
14% {
    transform: scale(1.075);
}
28% {
    transform: scale(1);
}

42% {
    transform: scale(1.075);
}
70% {
    transform: scale(1);
}
}

.ielts-rotate{
  animation: rotateChairs 5s linear;
}

@keyframes rotateChairs{
  0%{
     transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.select-options:hover{
  background-color: #FFA500 !important;
  color: #fff !important;
}